<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | Filters !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="">
		Enter your name : <input type="text" ng-model="name"></div>
		<br></br>
		Welcome 
		<br></br>
		 {{name | uppercase}} <!--Uppercase-->
		 {{name | lowercase}} <!--Lowercase-->

		<hr></hr>
		Enter currency : <input type="text" ng-model="price"></div>
		<br></br>
		Price
		<br></br>
		{{price | currency}}		 	 <!-$-->
		{{price | currency :'Rs'}} 		 <!--Rs-->
		{{price | currency : 'Rs' : 3 }} <!--decimal point-->
		{{price | number : 1 }}			 <!--Number Filter->	
	</body>
</html>