<!DOCTYPE html>
<html lang="en" ng-app="">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | Hands On !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body>
		<input type="text" ng-model="name">
		<br></br>
		<div> Welcome {{name}} to Angular JS World ! </div>
	</body>
</html>