<!DOCTYPE html>
<html lang="en" ng-app="">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | ng-model/ng-bind !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body>

		<!-- ng-bind would work only for specific input types -->
		
		<input type="text" ng-model="text_name">
		<br></br>
		<div>
			<div style="float:left"> Welcome  &nbsp</div>  
			<div ng-bind="text_name" style="float:left"> </div>&nbsp to Angular JS World ! 
		</div>
	
		<hr></hr>

		<!- ng-bind for textarea-->
		
		<textarea ng-model="textarea_name"></textarea>
		<br></br>
		<div style="float:left"> Welcome  &nbsp</div>  
		<div ng-bind="textarea_name" style="float:left"> </div>&nbsp to Angular JS World ! 
		
		<hr></hr>

		<!- ng-bind for textarea-->
		<!-- ng-bind does not work here -->
		<div ng-model="div_name" contenteditable="true"></div>
		<br></br>
		<div style="float:left"> Welcome  &nbsp</div>  
		<div ng-bind="div_name" style="float:left"> </div>&nbsp to Angular JS World ! 

	</body>
</html>