<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | Directives !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="">
		
		<!- Normalization in Directives-->
		<input type="text" ng-model="name"> &nbsp Normalization </input>
		<div ng-bind="name"></div>
		<br></br>
		<div ng:bind="name"></div>
		<br></br>
		<div ng_bind="name"></div>
		<br></br>
		<div data-ng:bind="name"></div>
			<br></br>
		<div x-ng:bind="name"></div>
	</body>
</html>