<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | Expressions !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="">
	
		<textarea ng-model="textarea_expression"></textarea>

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> + {{textarea_expression}} </div>
		<div> = {{textarea_expression + textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> - {{textarea_expression}} </div>
		<div> = {{textarea_expression - textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> * {{textarea_expression}} </div>
		<div> = {{textarea_expression * textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> / {{textarea_expression}} </div>
		<div> = {{textarea_expression / textarea_expression}}</div> 

		<hr></hr>

	</body>
</html>