<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | ng-init !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="">
	
		
		<textarea ng-model="textarea_expression"></textarea>

		<br></br>
		Default value is <div ng-init="textarea_expression=100"> 100

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> + {{textarea_expression}} </div>
		<div> = {{textarea_expression + textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> - {{textarea_expression}} </div>
		<div> = {{textarea_expression - textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> * {{textarea_expression}} </div>
		<div> = {{textarea_expression * textarea_expression}}</div> 

		<hr></hr>
		<div ng-bind="textarea_expression"> {{textarea_expression}} </div>
		<div> / {{textarea_expression}} </div>
		<div> = {{textarea_expression / textarea_expression}}</div> 

		<!-- if we want to display the value of variable just use interpolation ..to display the text use quotes inside curly braces  -->
		<hr></hr>
		<div ng-bind="calculation"> {{calculation}} </div>
		<div> {{'calculation...'}} </div> 
		<hr></hr>

	</body>
</html>