<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | ng-repeat !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="">
		<div ng-init="myFavLanguage=[
			{name:'PHP',extension:'.php'},
			{name:'Java',extension:'.java'},
			{name:'C++',extension:'.cpp'},
			{name:'Javascript',extension:'.js'}]">
		<p ng-repeat="language in myFavLanguage ">
			Name 		: {{language.name}},
			Extension 	: {{language.extension}} 
		</p>	
		</div>
	</body>
</html>