<!doctype html>
<html lang="en" ng-app="phonecatApp">
  <head>
    <meta charset="utf-8">
    <title>Google Phone Gallery</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="app.css" />
    <script src="lib/angular/angular.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-controller="PhoneListController">
      <p>Hello, {{name}}!</p>
    <ul>
      <li ng-repeat="phone in phones">
        <span>{{phone.name}}</span>
        <p>{{phone.snippet}}</p>
      </li>
    </ul>
    <ul>
      <li>
          <p>Total number of phones: {{phones.length}}</p>
      </li>
    </ul>
    <hr>
    <p>Simple Table</p>
    <table>
      <tr><th>Table Row</th></tr>
      <tr ng-repeat="i in [1,2,3,4,5,6,7,8]"><td>{{i}}</td></tr>
    </table>
    <hr>
    <p>Simple Table with row + 1</p>
    <table>
      <tr><th>Table Row</th></tr>
      <tr ng-repeat="i in [1,2,3,4,5,6,7,8]"><td>{{i+1}}</td></tr>
    </table>
    <ul>
      <li> 8x8 Table Row </li>
    </ul>
    <table>
      <tr ng-repeat="i in list" ng-init="indexI = $index">
        <th ng-show="indexI == 0"></th>
        <th ng-show="indexI != 0">{{indexI}}</th>
        <th ng-show="indexI == 0 && indexJ!=0" ng-repeat="j in list" ng-init="indexJ = $index">&nbsp;&nbsp;&nbsp;{{indexJ}}</th>
        <td ng-show="((indexI>0)&&(indexJ>0))" ng-repeat="j in list" ng-init="indexJ = $index">&nbsp;&nbsp;&nbsp;{{indexI+indexJ}}</td>
      </tr>
    </table>
  </body>
</html>
