<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Angular JS | Controllers !
		</title>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
	</head>
	<body ng-app="myLanguageApp">
		<script type="text/javascript">
			//Dependency used in this module is given as the second argument
			var application = angular.module('myLanguageApp',[]); //application is of type Object
			//$scope is an in-build variable in angular
			application.controller('languages',['$scope',function($scope){
				$scope.myFavLanguage = 'None';
				$scope.php = function(){
					$scope.myFavLanguage = 'PHP';
				};
				$scope.java = function(){
					$scope.myFavLanguage = 'Java';
				};
				$scope.javascript = function(){
					$scope.myFavLanguage = 'Javascript';
				};
				$scope.cpp = function(){
					$scope.myFavLanguage = 'C++';
				};

			}]);
		</script>

		<div ng-controller="languages">
			Select your favourite language : 
			<button ng-click=php()>PHP</button>
			<button ng-click=java()>Java</button>
			<button ng-click=cpp()>C++</button>
			<button ng-click=javascript()>Javascript</button>
			<p>You have selected :  {{myFavLanguage}}</p>
		</div>
	</body>
</html>